<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>
    <link href="https://bootswatch.com/4/darkly/bootstrap.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="container pt-5">
        <div class="thankyou pt-5">
            <div class="jumbotron">
                <h1 class="display-4">Successfully Save</h1>
                <p class="lead">Thank you so much for you time! Your Polling data has been successfully saved.</p>
                <hr class="my-4">
                <p>To view the overall polling for today's talk click on the following link</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Polling Stats</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>