aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.7
distlib==0.3.0
dj-config-url==0.1.1
dj-database-url==0.5.0
Django==3.1.12
django-filter==2.3.0
django-six==1.0.4
djangorestframework==3.11.0
filelock==3.0.12
graphene==2.1.8
graphene-django==2.10.1
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
Pillow==7.1.2
promise==2.3
psycopg2==2.8.5
psycopg2-binary==2.8.5
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
sqlparse==0.3.1
virtualenv==20.0.21
whitenoise==5.1.0
